.markdown-body {

  & > .comment-reference {
    margin-right: 6px;
    float: left;

    &+.markdown-content>:first-child:not(p):not(a):not(.dream-emoji){
      margin-top: 1.6rem;
    }
  }

}
.markdown-content {

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 8px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--color-e);
    margin-bottom: 12px;
  }

  h1, h2 {
    padding-bottom: 0.2em;
    border-bottom: 1px solid var(--comment-color-b);
  }

  h1 {
    margin: 28px 0 18px 0;
    font-size: 1.45em;
  }

  h2 {
    margin: 24px 0 16px 0;
    font-size: 1.25em;
  }

  h3 {
    margin: 20px 0 15px 0;
    font-size: 1.2em;
  }

  h4 {
    font-size: 1.15em;
  }

  h5, h6 {
    font-size: 1em;
  }

  img:not([class]) {
    max-width: 100%;
    max-height: 500px;
    transition: all 0.35s;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 34px 20px -24px rgb(136 161 206 / 30%);
    }
  }

  a:not([class]) {
    line-height: 1.5em;
    color: var(--comment-theme);
    background-image: linear-gradient(transparent calc(100% - 1px), var(--comment-theme) 1px);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: all .35s ease-in-out;

    &:hover {
      color: var(--comment-theme);
      background-size: 100% 100%;
    }
  }

  ol,
  ul {
    margin-bottom: 8px;
    padding-left: 30px;

    li {
      line-height: 1.5em;

      &.task-list-item {
        list-style: none;
        margin-left: -26px;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: unset;
    color: var(--comment-main);
    background: var(--bg-d);
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 0.95em;
    border: 1px solid var(--comment-color-b);
    border-radius: var(--radius-inner);

    td,
    th {
      padding: 8px;
      border-right: 1px solid var(--comment-color-b);
      border-bottom: 1px solid var(--comment-color-b);
    }

    thead {
      th {
        font-weight: 500;
        background: var(--bg-c);

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      tr {
        transition: background 0.35s;

        &:nth-child(2n) {
          background: var(--bg-e);
        }

        &:last-child td {
          border-bottom: none;
        }

        &:hover {
          background: rgb(179 179 179 / 15%);
        }

        td:last-child {
          border-right: none;
        }
      }
    }
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    margin-bottom: 8px;
    background-color: var(--comment-bg-a);
    border-radius: 6px;
  }

  *:not(pre) > code {
    font-size: 0.9em;
    color: var(--comment-color-c);
    margin: 0 2px;
    padding: 3px 6px;
    white-space: normal;
    vertical-align: baseline;
    word-break: break-word;
    background: rgb(175 184 193 / 20%);
    border-radius: var(--radius-inner);
  }

  blockquote {
    line-height: 1.5em;
    margin-bottom: 8px;
    padding: 6px 10px;
    color: var(--comment-color-f);
    background: var(--bg-f);
    border-left: 5px solid var(--color-g);
    border-radius: var(--radius-inner);

    * {
      margin: 0 !important;
    }
  }

  .dream-emoji {
    width: 1.6em;
    height: 1.6em;
    margin: auto 2px;
    vertical-align: middle;
  }
}
